# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
**/venv*

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/build/
docs/textract/

# vagrant
.vagrant

# ignore big testing files that are dynamically downloaded
tests/pdf/large.pdf

# ignore raw_text.txt files that are dynamically generated during testing
tests/png/raw_text.txt
tests/gif/raw_text.txt
tests/jpg/raw_text.txt
tests/tiff/raw_text.txt
tests/png/standardized_text.txt
tests/gif/standardized_text.txt
tests/jpg/standardized_text.txt
tests/tiff/standardized_text.txt
tests/pdf/ocr_text.txt

# PyCharm
.idea/
