[build-system]
build-backend = "hatchling.build"
requires = ["hatchling"]

[project]
authors = [{name = "Dean Malmgren", email = "dean.malmgren@datascopeanalytics.com"}]
description = "Minimally maintained fork of deanmalmgren/textract to replace '*' dependencies "
license = {text = "MIT"}
name = "textract-py3"
readme = "README.md"
requires-python = ">=3.9"
version = "2.1.1"
dependencies = [
    "SpeechRecognition>=3.8.1",
    "argcomplete>=1.10.0",
    "beautifulsoup4>=4.8.0",
    "chardet>=3",
    "docx2txt>=0.8",
    "extract-msg>=0.30.11",
    "pdfminer.six>=20221105",
    "python-pptx>=0.6.18",
    "six>=1.16.0",
    "xlrd>=1.2.0,<2.0.0",  # v2 drops support for xlsx. Requires openpyxl or alternative to support xlsx if upgrading xlrd. See: https://github.com/deanmalmgren/textract/pull/543#issuecomment-2684619988
]

[project.optional-dependencies]
pocketsphinx = ["pocketsphinx>=0.1.15"]

[project.scripts]
textract = "textract.bin.textract:main"

[project.urls]
Repository = "https://github.com/KyleKing/textract-py3"

[dependency-groups]
dev = [
    "bumpversion>=0.6.0",
    "pytest>=7.2.1",
]
docs = [
    "sphinx>=7.0",
    "sphinx-argparse>=0.4",
    "sphinx-rtd-theme>=2.0",
]

[tool.hatch.build.targets.wheel]
packages = ["textract"]
